// Define variables for your color scheme
// $main-color: #97d6d6;
// $main-color: #216353;

$main-color: #0dceda;
$light-pink: #ebfffa;
$dark-blue: #c6fce5;
$light-gray: #ebfffa;

// $light-pink: #ffe2e2;
// $light-pink: #edffea;
// banner h2 color
// $dark-blue: #ebfffa;
// $dark-blue: #52AA8A;
// $light-gray: #f6f6f6;
$light-gray: #f6f6f6;
$light-blue: #058996;
$logo: #139faf;
$font-color: black;
$white: #fff;
$green: #99ddcc;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;

