// Define variables for your color scheme
$main-color: #f46c63;
$light-pink: #FBECED;
// banner h2 color
$dark-blue: #113859;
$light-gray: #EEF1F2;
$light-blue: #058996;
$logo: #139faf;
$font-color: black;
$white: #fff;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
