.home-banner {
  background-image: asset-url("banner-image.jpg");
  background-size: cover;
  background-position: 45% 55%;
  position: relative;
  height: 500px;
  width: 100% auto;
}

.home-banner a {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  display: block;
}

// This is the "footer" under the banner.

h2 {
  font-size: 48px;
  color: black;
  font-style: italic;
  color: $dark-blue;
  text-align: center;
  padding: 20px;
  font-family: $large-font;
}
