.setting-wheel {
  float: right;
}


// -----------------CAROUSEL-------------------------------------
.carousel {
  width: 500px;
  // height: 300px;
  display: flex;
  // flex-direction: column;
  justify-content: space-around;
  align-items: center;
  // flex-grow: 1;
  flex-wrap: wrap;
}


.items-image {
  width: 300px;
  height: 300px;
  // margin: 0px 15px;
  object-fit: cover;
  flex: 1;
}

// ------------------ITEM CARDS ON THE OTHER PAGE-----------------

.item-owner {
  float: left;
  font-size: 10px;
}

.item-info {
  // justify-content: center;
  // h3 {
  //   float: center;
  // }
}

.voting {
  padding: 10px;
  border-top: 1px solid #FEFEFE;
}

.image-items {
  display: flex;
  padding: 10px 0px;
  width: 100%;
  object-fit: cover;
}

.image-items > img {
  width: 300px;
  height: 300px;
  margin: 0px 15px;
  flex: 1;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: $font;
  margin: 20px;
  // width: 800px;
  background-color: $light-gray;
  margin: 20px;
  flex-grow: 1;

}

.card-trip > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.card-information h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0px !important;
  text-align: center;
}

.card-trip h5 {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip p {
  float: right;
  padding: 0px 5px;
}

.card-information {
  text-align: center;
  padding: 16px;
  // display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-gray;
  font-family: $font;
  position: relative;
}

#edit-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-infos {
  background-color: white;
}

// .items-container {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     flex-grow: 1;
// }
