<div class="footer">
    <p>The sustainable exchange platform <i class="fas fa-sync-alt"></i></p>
    <!--   <div class="footer-links">
<!--   <div class="footer-links">
    <a href="https://github.com/alexandrezagame/fleapit"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/lewagonstockholm/"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div> -->
</div>