<div class="footer">
  <div class="footer-copyright">
   <h5><i class="fas fa-heart"></i>  The sustainable exchange platform</h5>
  </div>
  <div class="footer-links">
    <a href="https://github.com/alexandrezagame/fleapit"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/lewagonstockholm/"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
