<!-- You can find the scss for the landing page under stylesheets/pages.  -->

<div class="home-banner">
  <a><%= link_to 'Sign Up', new_user_session_path, class:"button" %></a>
</div>
<div>
  <h2>The sustainable exchange platform</h2>
</div>
