<!-- You can find the scss for the landing page under stylesheets/pages.  -->

<div class="home-banner">
  <a href="#" class="button">Sign Up</a>
</div>
<div>
  <h2>The sustainable exchange platform</h2>
</div>
