<div class="landing-page-container">
    <div>
        <h3>What is Fleapit?</h3>
        <p>Fleapit is a virtual Second Hand shop,
            <br>
            where you get items by exchanging for one of your own.
            <br>
            This way you can get new items without having to spend any money,
            <br>
            or impacting the environment.</p>
    </div>
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <div class="far fa-check-circle" id="info-card"></div>
            <div class="card-body">
                <h5 class="card-title">Sign Up</h5>
                <p class="card-text">Join the sustainable exchange platform and take part in changing the way we consume, one item at the time.</p>
                <div class="card-footer text-muted mx-auto">
<!--                 <%# link_to 'Sign Up', new_user_registration_path, class:"button" %> -->
              </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="fab fa-angellist" id="info-card"></div>
            <div class="card-body">
                <h5 class="card-title">Upload your items</h5>
                <p class="card-text">Add a minimum of 1 item of your own that you are willing to exchange.</p>
                <div class="card-footer text-muted mx-auto">
   <!--              <a href="#" class="button">Go somewhere</a> -->
              </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="far fa-laugh-beam" id="info-card"></div>
            <div class="card-body">
                <h5 class="card-title">Exchange</h5>
                <p class="card-text">Start exploring the endless opportunities at Fleapit. Prepare for the positive impact on the planet.</p>
                <div class="card-footer text-muted mx-auto">
<!--                 <a href="#" class="button">Go somewhere</a> -->
              </div>
            </div>
        </div>
    </div>
</div>
</div>
