<!-- Modal -->
<div class="modal fade" id="matchModal-<%= match.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        YOU GOT A MATCH!
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
