<!-- Modal -->
<div class="modal fade" id="matchModal-<%= match.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <strong>You got a Match!</strong>
      </div>
      <div class="modal-footer">
        <%= link_to "Keep Swiping", potential_matches_item_path(item), class:"button" %>
        <%= link_to "Go to Match",  matches_path, class:"button" %>
      </div>
    </div>
  </div>
</div>
