<div class="big-container">
    <%= render 'shared/vertical-navbar' %>
    <div class="form-container">
        <h5>Edit item</h5>
        <div class="new_item">
            <%= link_to '', item_path(@item), method: :delete, data: {confirm: "Are you sure you want to delete this item?"}, class: "fa fa-trash delete-button"  %>
            <div class="form-card">
                <div class="form-information">
                    <%= render 'form', item: @item %>
                </div>
            </div>
        </div>
    </div>
</div>
