<div class="big-container">
    <%= render 'shared/vertical-navbar' %>
        <div class="form-container">
            <h1 style="text-align: center;">Upload item</h1>
            <div class="card-trip">
                <div class="card-information">
                    <%= render 'form', item: @item %>
                </div>
            </div>
        </div>
    </div>

