<div class="big-container">
    <%= render 'shared/vertical-navbar', matches_count: @matches_count %>
        <div class="form-container">
            <h5>Upload Item</h5>
            <div class="form-card">
                <div class="form-information">
                    <%= render 'form', item: @item %>
                </div>
            </div>
        </div>
    </div>

