<div class="big-container">
    <%= render 'shared/vertical-navbar' %>
        <div class="form-container">
            <h5 style="text-align: left;">Upload item</h5>
            <div class="form-card">
                <div class="form-information">
                    <%= render 'form', item: @item %>
                </div>
            </div>
        </div>
    </div>

