<div class="row justify-content-center">
    <div class="col-8">
        <h1 style="text-align: center;">Upload item</h1>
          <div class="card-trip">
            <div class="card-information">
               <%= render 'form', item: @item %>
            </div>
        </div>
    </div>
</div>
