
// This button is used on our landing-page for sign-up (landing-page-banner.hmtl.erb)

.button {
  background-color: $main-color;
  color: white;
  font-family: $font;
  font-size: 14px;
  padding: 15px 20px;
  border-radius: 4px;
  width: 110px;
  text-align: center;
  &:hover {
    text-decoration: none;
    color: white;
    opacity: 0.9;
    }
}

.button-small {
  background-color: $main-color;
  color: white;
  font-family: $font;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 4px;
  &:hover {
    text-decoration: none;
    color: white;
    opacity: 0.9;
    }
}





