
// Signup-button for front page

.button {
  background-color: #F46C63;
  color: white;
  font-family: $font;
  font-size: 14px;
  padding: 20px 25px;
  border-radius: 4px;
  &:hover {
    text-decoration: none;
    color: white;
    opacity: 0.9;
    }
}

.button-small {
  background-color: #F46C63;
  color: white;
  font-family: $font;
  font-size: 14px;
  padding: 15px 20px;
  border-radius: 4px;
  &:hover {
    text-decoration: none;
    color: white;
    opacity: 0.9;
    }
}

// .signup-button {
//   background-color: #F46C63;
//   color: white;
//   font-family: $font;
//   font-size: 14px;
//   padding: 20px 25px;
//   border-radius: 4px;
//   margin: 80px auto;
//   // width: 100px;
//   // justify-content: center;
//   // align-items: center;
//   &:hover {
//     text-decoration: none;
//     color: white;
//     opacity: 0.9;
//     }
// }




