// This button is used on our landing-page for sign-up (landing-page-banner.hmtl.erb)
.landing-page-button {
    background-color: $main-color;
    color: white;
    font-family: $font;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 4px;

    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.20);

    &:hover {
        text-decoration: none;
        color: white;
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.20);
    }
}


.form-container .button {
    color: white;
}
.button {
    background-color: $main-color;
    color: white;
    width: 150px;
    height: 60px;
    font-family: $font;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 4px;
    padding: 18px 0px;

    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.20);

    &:hover {
        text-decoration: none;
        color: white;
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.20);
    }
}

.button-small {
    background-color: $main-color;
    color: white;
    font-family: $font;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.20);

    &:hover {
        text-decoration: none;
        color: white;
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.20);
    }
}

.button-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}

.button-container p {
  position: absolute;
  text-align: center;
  top: -5px;
  right: 70px;
  border: 1px solid red;
  border-radius: 50%;
  color: white;
  width: 25px;
  height: 25px;
  background-color: red;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);



}

// .button:active {
//   background-color: $main-color;
//   transform: translateY(2px);
// }

#sweet-alert-demo {
  background-color: #FD0100 !important;
  border: 0;
  border-radius: 4px;
  &:hover {
        text-decoration: none;
        color: white;
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.20);
    }
}


