.home-banner {
  background-image: url("https://images.unsplash.com/photo-1517824488624-8d6e5cdbf991?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80");
  background-size: cover;
  background-position: 45% 55%;
  padding: 150px 0;
  height: 500px;
  width: 100% auto;
}
