#slider {
      box-shadow: none !important;
      background-color: white !important;
      height: 5px;
}

.price-display {
  display: flex;
    justify-content: center;
    align-items: center;
}

.price-display h6 {
  white-space: pre !important;
  padding-top: 8px;
  font-size: 16px;
}

#lowerPrice {
    width: 60px;
    height: 30px;
    border-radius: 4px;
    padding-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ECECEC;
    // box-shadow: none;
    font-size: 16px;
    color: $black;
}

#upperPrice {
    width: 60px;
    height: 30px;
    border-radius: 4px;
    padding-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ECECEC;
    // box-shadow: none;
    font-size: 16px;
      color: $black;
}

.noUi-handle {
  border-radius: 50% !important;
background-color: white !important;
text-decoration: none;
    background: #FFF;
    cursor: default;
    box-shadow: none !important;
}


.noUi-connect {
    background: black !important;
}

.noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
    background: white !important;
    color: solid white !important;
    text-decoration: none !important;
    margin-bottom: 10px !important;
}

.noUi-target.noUi-horizontal .noUi-tooltip {
    background-color: black !important;
}

.noUi-handle:before, .noUi-handle:after {
    background: transparent !important;
    border: none !important;
    border-radius: 50% !important;

}


