.vertical-navbar {
  width: 300px;
  height: 100vh;
  background-color: $light-pink;
  position: sticky;
  top: 0;
  padding: 10px;
  box-shadow: 1px 0px 0px 0px rgba(0,0,0,0.07), 2px 0px 3px 0px rgba(0,0,0,0.06), 0px 0px 0px 0px rgba(0,0,0,0.05) !important;
}

@media(max-width: 576px) {
  .vertical-navbar {
    width: 100px;
    padding: 5px;
  }

  .vertical-navbar .menu-hamburger {
  width: 40px;
  height: 40px;
  color: #0c5c65;
  }

  .vertical-navbar .avatar-xl-large {
    height: 60px;
    width: 60px;
  }
  .vertical-navbar .button-small {
    padding: 10px 5px;
    width: 70px !important;
    margin: 5px auto;
  }
  .vertical-navbar .button {
    padding: 10px 5px;
    width: 70px !important;
  }
}
// @media(max-width: 768px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }


// Responsive breakpoints
// default: Extra small devices (Portrait phone 👉 less than 576px)
// sm: Small devices (Landscape phone 👉 576px and up)
// md: Medium devices (Tablet 👉 768px and up)
// lg: Large devices (Desktops 👉 992px and up)
// xl: Extra large devices (Large desktops 👉 1200px and up)


.vertical-navbar h5 {
  margin: 0px;
}

.vertical-navbar a {
  display: block;
  padding: 12px;
}
.vertical-button .button {
  margin: 5px auto;
  width: 110px;
  padding: 18px 0px;
}

.vertical-button {
  width: 100%;
}

.vertical-navbar .profile-infos {
  margin-top: 20px;
  margin-bottom: 20px;
}

.vertical-button {
 margin-top: 20px;

}

.navbar-logo {
  text-align: center;
  position: absolute;
  bottom:0px;
  width:100%;
}

.navbar-logo h1 {
  font-size: 30px;
}
