
 .vertical-navbar {
  width: 300px;
  height: 100vh;
  background-color: $light-pink;
  padding: 10px;
  position: sticky;
  top: 0;
}

.vertical-navbar a {
  display: block;
  padding: 12px;
}
.vertical-button .button {
  margin: 5px auto;
  width: 110px;
}

.vertical-button {
  width: 100%
}

.width {

}

